/*..............................................*/
.controlPanel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  background-image: url("../images/seamless-wood-texture-free-6.jpg");
  background-size: 100% 100%;
  border-style: solid;
  border-color: silver;
  border-width: thick;
  order: 1;
  flex: 1;
}

/*//////////Slider////////////////*/
.slideContainer {
  order: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderLabel {
  order 0;
  color: silver;
  margin-bottom: 15%;
  font-size: 180%;
}

.slider {
  -webkit-appearance: slider-vertical;
  -webkit-appearance: reversed;
  color: silver;
  height: 100%;
  order: 1;
}

/*///////////////////////////////*/
/*//////////Change Direction////////////////*/
.changeDirectionForm {
  order: 1;
  flex-basis: 20%;
  color: red;
  display: flex;
  flex-direction: column;
}

.radioLabel {
  order: 0;
  color: silver;
  font-size: 180%;
}

.radioSpan {
  order: 1;
  color: silver;
  font-size: 160%;
}

/*/////////////////////////////////////////*/

/*/////////////Color Lists///////////*/
.colorList{
  flex-basis: 17;
  display: flex;
  flex-direction: column;


  position: relative;
  font-family: Arial;
}


.colorList select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*//////////Lists////////////////*/



.listLabel {
  order: 0;
  font-size: 130%;
  color: silver;
}

.list {
  order: 1;
  font-size: 130%;
}

.listForm {
  flex-basis: 17;
  display: flex;
  flex-direction: column;
}

.changeMiddleColorListForm {
  order: 2;
  margin-top: 5%;
}

.changeInnerColorListForm {
  order: 3;
}

.changeOuterColorListForm {
  order: 4;
}

.changePatternListForm {
  order: 5;
}

.presetsListForm {
  order: 6;
  margin-bottom: 10%;
}

/*//////////////////////////////*/
/*...........................................*/
